<div class="d-flex flex-row">
  {{#each pets}}
  <div class="card m-2" style="width: 18rem">
    <img src="{{ this.picture }}" class="card-img-top" alt="{{ this.name }}" />
    <div class="card-body">
      <h5 class="card-title text-center">{{ this.name }}</h5>
      <p class="card-text text-center"><strong>Age: </strong>{{ this.age }}</p>
    </div>
  </div>
  {{/each}}
</div>
